---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import { Image } from 'astro:assets';

import beachvideo from "../assets/beach-video.mp4";
import beach from "../assets/beach.jpg";
import cheek1 from "../assets/cheek-1.jpg";
import cheek2 from "../assets/cheek-2.jpg";
import happy from "../assets/happy-girl.jpg";
import princess from "../assets/princess.jpg";
import redcolorlook from "../assets/red-color-look.jpg";
import redcolorfun from "../assets/red-color-fun.jpg";
import selfie from "../assets/selfie.jpg";
import painting1 from "../assets/painting-1.jpg";
import painting2 from "../assets/painting-2.jpg";
import painting3 from "../assets/painting-3.jpg";
import mountian from "../assets/mountian.jpg";

const jokes = [
  "What do you call a fake noodle? An impasta!",
  "Why did the bicycle fall over? Because it was two-tired!",
  "What kind of tea is hard to swallow? Reality",
  "What did the buffalo say when his son left? Bison",
  "RIP to boiling water. You will be mist",
  "Why did the scarecrow win an award? Because he was outstanding in his field!",
]

---

<Layout title="Welcome to Astro.">
	<main>
    <section class="header">
      <h1>SamSmokes.com</h1>
    </section>

    <hr />

    <section class="jokes">
      <p><b>Joke of the day</b></p>
      <p class="jokes__joke">{ jokes[0] }</p>
    </section>

    <hr />

    <section class="letter">
      <p>I wanted to start out by (telling you a joke and) saying I love you so so so much. Sam you mean the world to me and I think your one of the most incredible people I've met and, most importantly, my best friend. "Tender" is a word I learned from you, and not in the literal sense, but from the way you look, talk and interact with the world. When that tenderness is given to me i feel like the happiest Ken [person] in the world.</p>
      <div class="side-by-side">
        <article>
          <Image src={ princess } alt="A princess"/>
        </article>
        <article>
          <Image src={ mountian } alt="Together"/>
        </article>
      </div>
      <p>Not only are you soft and caring but i think your so badass. You've accomplished so much just within the time I've known you and it's been amazing to watch you create exhibitions from start to finish, hold down a luxury gallery all on your own when shit hits the fan, and create/secure professional opportunities for yourself by putting in the effort of communating and working with people relentlessly for it.</p>
      <div class="side-by-side">
        <article>
          <Image src={ redcolorfun } alt="A happy girl"/>
        </article>
        <article>
          <Image src={ redcolorlook } alt="A happy girl"/>
        </article>
      </div>
      <p>My favorite thing ever is when we're able to work and do projects together, whether thats something small and physical like taking a 10min look over at some designs or something larger and more abstract like getting to go to shows together and "be together" there. "Being with you" is something I love doing so much and take so much pride in.</p>
      <div class="side-by-side">
        <article>
          <Image src={ painting1 } alt="A happy girl"/>
        </article>
        <article>
          <Image src={ painting2 } alt="A happy girl"/>
        </article>
        <article>
          <Image src={ painting3 } alt="A happy girl"/>
        </article>
      </div>
      <p>Being together, forever, is something ive been thinking about more since we talked about it. At times, it can be scary or crazy to think about in the sense of realizing the impact that it has on my life. However the fact that it would be you, my best friend, throughout it all, makes me feel excited about growing up. I love seeing you with Ru, in bed in the morning when you both get to sleep in and when you hold his leash when we walk to the park. I feel safe and relaxed when he's with you and I can't even begin to understand the intensity of that feeling when it would be our baby (and not just my baby boy.) </p>
      <Image src={ selfie } alt="Together"/>
      <p>I love you Sam, <br> Joel Lithgow</p>
    </section>
	</main>
</Layout>

<style>
  .side-by-side {
    display: flex;
    gap: 20px;

    flex-direction: row;
  }

  .header {
    margin-bottom: 40px;
  }

  .jokes {
    margin-bottom: 40px;

    & .jokes__joke {
      padding: 25px;
      border: 1px dashed white;
    }
  }

  img {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
    height: auto;
    width: auto;
  }

	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
    font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 4rem;
    }
  }
</style>
