---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Journal | SamSmokes">
  <main>
    <Header />

    <article>
      <h3>Sept.25, 2023</h3>
      <h4>9:30am</h4>
      <p>I've been fighting off the urge to call you and say I'm sorry and I want nothing more than to earn your trust back and will do anything to prove it.</p>

      <h4>7:20am</h4>
      <p>I woke up this morning thinking about how i no longer associate pancakes with my mum making then for me as a kid but when i used to make then for you. It meant so much to me that i actually loved every stressful second of cooking them up until the last minute before work.</p>

      <h3>Sept.24, 2023</h3>
      <h4>7:00pm</h4>
      <p>I would give up anything in the world right now to have a another chance with you.</p>

      <h4>2:00pm</h4>
      <p>This is physically hurting so much I'm having to sit down to collect myself again.  Trying to deal with anything I need to do while feeling like this feels impossible. It reminds me how strong you are because your always on top of it even when dealing with anxieties. Its so hard to think of putting you through something even worse than this and all I want is to be there for you.</p>

      <h4>11:30am</h4>
      <p>I just found out your "love is" playlist is now private and it crushed me. I love your playlists so much.</p>

      <h4>8:30am</h4>
      <p>It's been a full 24 hours now since waking up from the biggest regret in my life. I can safely say that it's the only thing I've thought about and it's not going anywhere. My heart and head feel heavy and pressurized and the only thing that feels like it would help is by not having them at all. Im waking up as if I just got out of a nightmare but this time I can't say its just a dream. 
      <p>No matter how I try to clam myself and make sense of it all, theres no way to acknowledge it expect that I cheated on you. Something that is completely unacceptable to anyone, let alone someone I love and respect as much as you Sam.</p>
      <p>Cheating is what ended my last relationship and I told myself I would never let anyone do that to me again and I would mever do it to anyone else either.  It changed the way I viewed my former partner and scared me for life and I would never ever want that to happen to you.</p>
      <p>I cant begin to understand the pain your in and I'm so so sorry. All I ever want is to help you and see you thrive but I made a huge mistake and completely went against that.</p>
      <p>I'm so sorry Sam. I hope you've eaten some rice today, I love you so much.</p>
      <p>Joel</p>
    </article>
  </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
