---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Journal | SamSmokes">
  <main>
    <Header />

    <article>
      <h3>Oct.3, 2023</h3>
      <h4>6:45pm</h4>
      <p>I hope I get the chance to be with you during your thesis. I would love to make the number one priority of my life supporting you during that time.</p>

      <h3>Oct.2, 2023</h3>
      <h4>8:10pm</h4>
      <p>I think today is the first day I don't want (feel the need) to tell you anything.</p>
      <p>But I really badly want to talk to you about my first therapy session</p>

      <h4>3:30pm</h4>
      <p>The thermal receipt photo of you is still in my phone case, ive been too scared to get rid of it.</p>
      <p>I hope one day I can replace it with a disposable camera photo of you. I've thought that getting a disposable camera for the things we do together would be a fun way to address the lack of photos we have together.</p>

      <h3>Oct.1, 2023</h3>
      <h4>3:30pm</h4>
      <p>It's been a few days since we talked last. Its been extremely hard and I miss you so much and have so many things to say. I really really want to call to ask if we can talk and I can tell you all these things I've written down...but I know you've asked for me to not talk to you and that you'd reach out if you ever wanted to. Its really hard to accept this because I want you so much and I feel as if I dont try its never going to happen again.</p>

      <h4>8:30am</h4>
      <p>The last conversation we had over text was really painful. It hurts even more because I reread the messages over and over. 

      <h3>Sept.29, 2023</h3>
      <h4>12:45pm</h4>
      <p>I got the oppertunity to make a wish today. I think this is the first time I no longer wished for Pokemon to be real. I wish someday I earn your trust back and we can be together again.</p>

      <h3>Sept.28, 2023</h3>
      <h4>1:30pm</h4>
      <p>I want to watch Nanette with you, and any comedy. I love both your personal sense of humor comedy preferences.</p>

      <h4>8:30am</h4>
      <p>Today I handed(or rather shoved) Joey an unopend bag of coffee and said "Cut it". This short, straight to the point way of talking isn't unfamiliar for us. But the way he chuckled about the way I went about it this time reminded me of doing the same to you. I always thought it was cute when you relied on me for something small like that in a time of overwhelimg stress and now I can't stop but think about how I ignored that as a sign of needing more emotional support. I don't really need Joey to cut the bag of coffee open, I really need him to just be there for me, and I'm ashamed I wasn't there for you.</p>

      <h3>Sept.27, 2023</h3>
      <h4>9:00am</h4>
      <p>Every now and then when I go into my photos app I end up scrolling down and finding a photo or two of you. I've done this so many times that now I realize how little photos I have of you/us. I hope someday I can correct that too.</p>

      <h3>Sept.26, 2023</h3>
      <h4>12:00pm</h4>
      <p>Calling you is bittersweet. I love hearing your voice and talking with you, even if I'm hearing the words "you never want anything to do with me again."</p>

      <h4>7:30am</h4>
      <p>I've gone on runs the past few mornings but couldn't today. My stomach feels like I'm gonna throw up. I can't stop thinking that I cheated on you.</p>

      <h3>Sept.25, 2023</h3>
      <h4>7:00pm</h4>
      <p>I had the wrong response when you told me you were thinking of taking a year off. I selfishly blamed myself as the cause and felt myself distancing from you as a result. Instead I should of realized that it was something I was supposed to joy and comfort in. The fact that when your feeling overwhelmed with the world and your backs against the wall that you would come to me to want to feel better. You were telling me how much you trusted me and I didn't hear it at all, and now I've lost it all.</p>

      <h4>6:00pm</h4>
      <p>I would honestly love to do a couples therapy session with you. It's absolutely wild that I'm having this thought, I've always thought that relationship therapy should be for married couples and if anyone dating needs to have therapy it means it wasn't meant to be. Maybe I feel this way now it's because I can truly feel like I just lost my life-long partner and I would do anything to get it back.</p>

      <h4>9:30am</h4>
      <p>I've been fighting off the urge to call you and say I'm sorry and I want nothing more than to earn your trust back and will do anything to prove it.</p>

      <h4>7:20am</h4>
      <p>I woke up this morning thinking about how I no longer associate pancakes with my mum making then for me as a kid but when I used to make then for you. It meant so much to me that I actually loved every stressful second of cooking them up until the last minute before work.</p>

      <h3>Sept.24, 2023</h3>
      <h4>7:00pm</h4>
      <p>I would give up anything in the world right now to have a another chance with you.</p>

      <h4>2:00pm</h4>
      <p>This is physically hurting so much I'm having to sit down to collect myself again.  Trying to deal with anything I need to do while feeling like this feels impossible. It reminds me how strong you are because your always on top of it even when dealing with anxieties. Its so hard to think of putting you through something even worse than this and all I want is to be there for you.</p>

      <h4>11:30am</h4>
      <p>I just found out your "love is" playlist is now private and it crushed me. I love your playlists so much.</p>

      <h4>8:30am</h4>
      <p>It's been a full 24 hours now since waking up from the biggest regret in my life. I can safely say that it's the only thing I've thought about and it's not going anywhere. My heart and head feel heavy and pressurized and the only thing that feels like it would help is by not having them at all. Im waking up as if I just got out of a nightmare but this time I can't say its just a dream. 
      <p>No matter how I try to clam myself and make sense of it all, theres no way to acknowledge it expect that I cheated on you. Something that is completely unacceptable to anyone, let alone someone I love and respect as much as you Sam.</p>
      <p>Cheating is what ended my last relationship and I told myself I would never let anyone do that to me again and I would mever do it to anyone else either.  It changed the way I viewed my former partner and scared me for life and I would never ever want that to happen to you.</p>
      <p>I cant begin to understand the pain your in and I'm so so sorry. All I ever want is to help you and see you thrive but I made a huge mistake and completely went against that.</p>
      <p>I'm so sorry Sam. I hope you've eaten some rice today, I love you so much.</p>
      <p>Joel</p>
    </article>
  </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
