---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Journal | SamSmokes">
  <main>
    <Header />

    <article>
      <h3>Sept.24, 2023</h3>
      <p>It's been a full 24 hours now since waking up from the biggest regret in my life. I can safely say that it's the only thing I've thought about and it's not going anywhere. My heart and head feel heavy and pressurized and the only thing that feels like it would help is by not having them at all. Im waking up as if I just got out of a nightmare but this time I can't say its just a dream. 
      <p>No matter how I try to clam myself and make sense of it all, theres no way to acknowledge it expect that I cheated on you. Something that is completely unacceptable to anyone, let alone someone I love and respect as much as you Sam.</p>
      <p>Cheating is what ended my last relationship and I told myself I would never let anyone do that to me again and I would mever do it to anyone else either.  It changed the way I viewed my former partner and scared me for life and I would never ever want that to happen to you.</p>
      <p>I cant begin to understand the pain your in and I'm so so sorry. All I ever want is to help you and see you thrive but I made a huge mistake and completely went against that.</p>
      <p>I'm so sorry Sam. I hope you've eaten some rice today, I love you so much.</p>
      <p>Joel</p>
    </article>
  </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
